**/node_modules
**/build
**/*.log
**/*.md
**/.prettierrc.yml
**/.eslintrc.yml
**/*.test.ts
**/*.test.js
**/.vscode
**/.git
**/.gitignore
**/.gitlab-ci.yml
**/products
**/jest.config.js
**/mariadb.*.env
Dockerfile
